# where / represents 183_RateMyLandlord

# /
httpserver.log 
httpserver.pid 
parameters_8000.py 
gluon/*

#/applications/rml/
applications/rml/databases/*
applications/rml/errors/*
applications/admin/sessions/*
applications/admin/errors/*


# old .gitignore stuff
gluon/*
gluon/*.*
