/* STYLES THE LANDING (HOME) PAGE CARD*/
.call-to-action {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 32pt 0;
  margin-bottom: 32pt;
  background-color: #FFF;
  border-radius: 4pt;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);

  transition: box-shadow 150ms ease-in-out, width 150ms ease-in-out;
}

.call-to-action:hover{
  width: 101%;
  -webkit-box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.1);
}

.call-to-action h1 {
  margin: 0;
}

.landing-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 16pt 16pt 0 16pt;
  width: calc(100% - 32pt);
}

.landing-buttons button {
  flex: 1;
  padding: 16pt 32pt;
  margin: 8pt 16pt;
  width: 100%;
  font-size: 100%;
  color: #FFF;
  text-transform: lowercase;
  border: none;
  background-color: #091A22;
  line-height: 1;

  transition: background-color 300ms ease-in-out;
}

.landing-buttons button:hover {
  cursor: pointer;
  background-color: #F49D37;
}

.landing-buttons button b {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #FFF;
}

@media (max-width: 745px) {
  .call-to-action h1 {
    font-size: 150%;
  }

  .landing-buttons {
    display: block;
    text-align:center;
  }

  .landing-buttons button {
    width: 80%;
  }
}

.landlord-card {
  width: 100%;
  background: #FFF;

  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);

  transition: box-shadow 150ms ease-in-out, width 150ms ease-in-out;
}

.landlord-card:hover{
  width: 101%;
  -webkit-box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.1);
}
