/* STYLES THE LANDING (HOME) PAGE CARD*/
.call-to-action {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 32pt 0;
  margin-bottom: 32pt;
  background-color: #FFF;
  border-radius: 4pt;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  -o-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.call-to-action h1 {
  margin: 0;
}

.landing-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 16pt 16pt 0 16pt;
  width: calc(100% - 32pt);
}

.landing-buttons button {
  flex: 1;
  padding: 16pt 32pt;
  border-radius: 4pt;
  margin: 8pt 16pt;
  width: 100%;
  font-size: 100%;
  color: #FFF;
  text-transform: lowercase;
  border: none;
  background-color: #091A22;
  line-height: 1;

  -webkit-transition: background-color 300ms ease-in-out;
  -moz-transition: background-color 300ms ease-in-out;
  -o-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.landing-buttons button:hover {
  cursor: pointer;
  background-color: #F49D37;
}

.landing-buttons button b {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #FFF;
}

/* STYLES THE CARDS FOR LANDLORDS */
.recents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recents h1 {
  align-self: center;
}

.landlord-card {
  width: calc(80% - 64pt);
  padding: 16pt 32pt;
  margin-bottom: 16pt;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: #FFF;
  border-radius: 4pt;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  -o-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);

  -webkit-transition: box-shadow 150ms ease-in-out, width 150ms ease-in-out;
  -moz-transition: box-shadow 150ms ease-in-out, width 150ms ease-in-out;
  -o-transition: box-shadow 150ms ease-in-out, width 150ms ease-in-out;
  transition: box-shadow 150ms ease-in-out, width 150ms ease-in-out;
}

.landlord-card h1 {
  margin: 0;
}

.landlord-card:hover{
  z-index: 1;
  cursor: pointer;
  width: calc(81% - 64pt);
  -webkit-box-shadow: 0px 16px 32px 0px rgba(244, 157, 55, .5);
  -moz-box-shadow: 0px 16px 32px 0px rgba(244, 157, 55, .5);
  -o-box-shadow: 0px 16px 32px 0px rgba(244, 157, 55, .5);
  box-shadow: 0px 16px 32px 0px rgba(244, 157, 55, .5);
}

.recents-rating {
  padding: 8pt 0;
}

.recents-rating h3{
  margin: 0;
  margin-bottom: 2pt;
}

/* ANY RESPONSIVENESS */
@media (max-width: 745px) {
  .call-to-action h1 {
    font-size: 150%;
  }

  .recents h1 {
    font-size: 150%;
  }

  .recents h3 {
    font-size: 100%;
  }

  .landing-buttons {
    display: block;
    text-align:center;
  }

  .landing-buttons button {
    width: 80%;
  }

  .landlord-card {
    display: block;
    text-align: center;
  }
}
