/* STYLES THE LANDING (HOME) PAGE */
.call-to-action {
  width: calc(100%-128pt);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32pt 64pt;

  background-color: #FFF;
  border-radius: 4pt;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

.landing-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.landing-buttons button {
  padding: 16pt 32pt;
  margin: 8pt;
  font-size: 120%;
  color: #FFF;
  text-transform: lowercase;
  border: none;
  background-color: #091A22;
  line-height: 1;

  transition: background-color 300ms ease-in-out;
}

.landing-buttons button:hover {
  cursor: pointer;
  background-color: #F49D37;
}

.landing-buttons button b {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  color: #FFF;
}
