 /* THESE ARE BASIC STYLES AND REFERENCES */
body {
  margin: 0 0 0 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color: #091A22;
}

p, a, b, li, input, button{
  font-family: 'Open Sans', sans-serif;
  color: #091A22;
}

.text-orange {
  color: #F49D37;
}

.text-blue {
  color: #2E86AB;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;

  opacity: 0;
  transition: opacity ease-in-out 1000ms;
}

.main-app {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

/* USER STYLING */
.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#web2py_user_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 70%;
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
}

#web2py_user_form input[type=text] {
  outline: none;
  border: 1pt solid #091A22;
  margin: 4pt 0;
  width: 100%;
  padding: 8pt;
  border-radius: 4pt;

  transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
}

#web2py_user_form input[type=text]:focus {
  border: 1pt solid #F49D37;
}


#web2py_user_form input[type=password] {
  outline: none;
  border: 1pt solid #091A22;
  margin: 4pt 0;
  width: 100%;
  padding: 8pt;
  border-radius: 4pt;

  transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
}

#web2py_user_form input[type=password]:focus {
  border: 1pt solid #F49D37;
}

#web2py_user_form input[type=submit] {
  outline: none;
  padding: 4pt 8pt;
  margin: 4pt;
  margin-top: 16pt;
  border-radius: 2pt;

  background-color: #091A22;
  border: 1pt solid #091A22;
  color: #fff;

  transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
}

#web2py_user_form input[type=submit]:hover {
  background-color: #F49D37;
  border: 1pt solid #F49D37;
  cursor: pointer;
}

.login-form div button{
  padding: 4pt 8pt;
  margin: 4pt;
  margin-top: 16pt;
  border-radius: 2pt;

  background-color: #091A22;
  border: 1px solid #091A22;
  color: #fff;

  transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
}

.login-form div button:hover{
  background-color: #F49D37;
  border: 1px solid #F49D37;
  cursor: pointer;
}

/* NAVIGATION STYLING */

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo a {
  text-decoration: none;
}

.logo a h1 {
  color: #F49D37;

  transition: color ease-in-out 150ms;
}

.logo a:hover h1{
  color: #2E86AB;
}

.nav-links ul li {
  display: inline;
  margin: 4pt;
}

.nav-links ul li a {
  text-decoration: none;
  text-transform: lowercase;
  font-size: 70%;
  color: #2E86AB;

  transition: color ease-in-out 150ms;
}

.nav-links ul li a:hover {
  color: #F49D37;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#search_box {
  border: 1px solid rgba(9, 26, 34, 0.1);
  border-radius: 4pt;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 8pt 16pt;
  width: 100%;
  font-size: 100%;
}

#search-button {
  border: 1px solid rgba(9, 26, 34, 0.1);
  background-color: #F49D37;
  border-radius: 4pt;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 100%;
  padding: 8pt 16pt;
  color: #FFF;

  transition: background-color ease-in-out 150ms;
}

#search-button:hover {
  cursor: pointer;
  background-color: #2E86AB;
  color: #FFF;
}

.search-prompt {
  margin: 8pt 16pt;
}

/* EVERYTHING FOR THE FOOTER */
.footer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-end;
  align-items: center;
  background-color: #091A22;
  width: 100%;
}

.footer-content {
  width: 90%;
}

.footer-content ul li {
  display: inline;
  margin: 2pt;
}

.footer-content ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 50%;
  color: #FFFFFF;
  opacity: .60;

  transition: color ease-in-out 150ms;
}

.footer-content ul li {
  text-transform: uppercase;
  font-size: 50%;
  color: #FFFFFF;
  opacity: .60;
}

.footer-content ul li a:hover {
  color: #F49D37;
}

#vue-div {
  width: 100%;
}

.sub-page{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
