
/*** helpers ***/
.center {text-align:center; margin-left:auto; margin-right:auto}
.center>div {text-align:center}
.container img {max-width:90%; margin:auto}

/*** cards referenced from http://codepen.io/edeesims/pen/iGDzk ***/
.card {perspective: 500px; max-width:100%}
.card>div {
  position: absolute;
  width: 90%;
  height: 90%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}
.card:hover>div {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}
.card>div>div {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.card>div>div:nth-child(2) {
  transform: rotateY( 180deg );
}

/* ABOUT STYLING */
.topphotos-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.botphotos-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80%;
}

/* CONTACT STYLING */
.contact-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.contact-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 70%;
}

.image-container img {max-width:600px; margin:auto}
