/* STYLES FOR THE ADD LANDLORD MENU */
.add-landlord-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landlord-form-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.landlord-form-item input[type="text"]{
  outline: none;
  border: 1pt solid #091A22;
  margin: 4pt 0;
  width: 100%;
  padding: 8pt;
  border-radius: 4pt;

  transition: border 300ms ease-in-out;
}

.landlord-form-item input[type="text"]:focus {
  border: 1pt solid #F49D37;
}

.add-landlord-form input[type=submit] {
  padding: 4pt 8pt;
  margin: 4pt;
  margin-top: 16pt;

  background-color: #091A22;
  border: 1px solid #091A22;
  color: #fff;

  transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
}

.add-landlord-form input[type=submit]:hover {
  background-color: #F49D37;
  border: 1px solid #F49D37;
  cursor: pointer;
}

/* STYLES FOR RATINGS */

.rating-card{
  padding: 16pt 32pt;
  -webkit-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.1);
}

.rating-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rating-items div{
  flex: 1;
  padding: 8pt 16pt;
  border-left: 1px solid #F49D37;
}

.ratings h1, p {
  line-height: 1;
  margin: 0;
}

.ratings p {
  font-size: 200%;
  margin-bottom: 16pt;
}

.ratings-extras p {
  font-size: 150%;
}

.ratings-tags {
  display: inline;
}

.ratings-tags ul {
  margin: 0;
  padding: 9;
  list-style-type: none;
}

.ratings-tags ul li {
  display: inline;
  margin: 4pt;
  text-transform: lowercase;
  font-size: 50%;
  padding: 4pt;
  background-color: #CED1D3;
}

/* STYLES FOR THE FORM */
.address-form input[type="text"]{
  outline: none;
  border: 1pt solid #091A22;
  margin: 4pt 0;
  width: 100%;
  padding: 8pt;
  border-radius: 4pt;

  transition: border 300ms ease-in-out;
}

.address-form input[type="text"]:focus {
  border: 1pt solid #F49D37;
}

.rate-landlord-form select{
  outline: none;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-image:
  font-family: 'Open Sans', sans-serif;
  padding: 8pt;
}

.rate-property-form select{
  outline: none;
  -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-image:
  font-family: 'Open Sans', sans-serif;
  padding: 8pt;
}
