/* STYLING FOR DEEP SEARCH RESULTS */

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#search_box {
  border: 1px solid rgba(9, 26, 34, 0.1);
  border-radius: 4pt;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 8pt 16pt;
  width: 70%;
  font-size: 100%;
}

#search-button {
  border: 1px solid rgba(9, 26, 34, 0.1);
  background-color: #F49D37;
  border-radius: 4pt;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 100%;
  padding: 8pt 16pt;
  color: #FFF;

  transition: background-color ease-in-out 150ms;
}

#search-button:hover {
  cursor: pointer;
  background-color: #2E86AB;
  color: #FFF;
}

.search-prompt {
  margin: 8pt 16pt;
}

.search-results{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16pt;
}

.search-result{
  width: 100%;
  margin: 16pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8pt 16pt;
  background-color: #FFF;
  border-radius: 4pt;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);

  transition: box-shadow 150ms ease-in-out, width 150ms ease-in-out;
}

.search-result:hover{
  width: 101%;
  cursor: pointer;
  -webkit-box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.1);
}
