/* STYLING FOR DEEP SEARCH RESULTS */

.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Open Sans', sans-serif;
}

#search_box {
  outline: none;
  align-self: center;
  border: 1px solid rgba(9, 26, 34, 0.1);
  border-radius: 4pt;
  padding: 8pt 16pt;
  width: 100%;
  font-size: 100%;

  transition: border 300ms ease-in-out;
}

#search_box:focus {
  border: 1pt solid #F49D37;
}

.search-prompt {
  margin: 8pt 16pt;
}

.search-results{
  margin: 32pt 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-result{
  width: calc(100% - 64pt);
  margin: 16pt;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8pt 32pt;
  background-color: #FFF;
  border-radius: 4pt;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);

  transition: box-shadow 150ms ease-in-out, width 150ms ease-in-out;
}

.search-result:hover{
  width: calc(101% - 64pt);
  cursor: pointer;
  -webkit-box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.1);
}

@media (max-width: 745px) {
  .search-form {
    width: 100%;
  }

  .search-results {
    width: 80%;
  }
}
