{{block header}}

  <!-- SCRIPTS GO HERE -->
  <script src="{{=URL('static', 'js/vue.js')}}"></script>

  <!-- FONTS GO HERE -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
  <link rel="stylesheet" href="{{=URL('static', 'font-awesome-4.6.3/css/font-awesome.min.css')}}">

  <!-- STYLESHEETS GO HERE -->
  <link href="{{=URL('static','css/main.css')}}" rel="stylesheet" type="text/css"/>

  {{include 'web2py_ajax.html'}}
{{end}}

<div class="main-content">

  <div class="main-app">
    <div class="nav-bar">
      <div class="logo">
        <a href="{{=URL('default', 'index')}}"><h1>RateMyLandlord</h1></a>
      </div>
      <div class="nav-links">
        <ul>
          <li><a href="">Write a Review</a></li>
          <li><a href="">Find a Landlord</a></li>
          <li><a href="">Find a Property</a></li>
        </ul>
      </div>
    </div>
    <div class="search">
      <form class="search-form">
        <input id="search-box" type="search" placeholder="Search for a Landlord or Property"/>
        <button id="search-button">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>

    <!-- VUE CODE SHOULD BE LOADED HERE -->

  </div>

  <div class="footer">
    <div class="footer-content">
      <ul>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
        <li>RateMyLandlord Team &copy; 2018</li>
      </ul>
    </div>
  </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
